@model IEnumerable<LabbTsb.Models.Employee>

@{
    ViewData["Title"] = "Index";
}
<script src="~/js/site.js"></script>

<link href="~/css/SideBar.css" rel="stylesheet" />

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="@Url.Action("Index","Home")">Startsida</a>
    <a href="@Url.Action("index","employees")">Anställda</a>
    <a href="@Url.Action("index","Sections")">Avdelningar</a>
    <a href="@Url.Action("index","Api")">Hämta API</a>

</div>



<div class="jumbotron">
    <h4 class="rubrik">Lista över anställda på Ukend</h4>
</div>


<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">
                Förnamn
            </th>
            <th scope="col">
                Efernamn
            </th>
            <th scope="col">
                Ålder
            </th>
            <th scope="col">
                Arbetsavdelning
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.Department)
                </td>
                <td>
                    <a class="link" asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                    <a class="link" asp-action="Details" asp-route-id="@item.Id">Egenskaper</a> |
                    <a class="link" asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                </td>
            </tr>
        }


    </tbody>

</table>
<p>
    <a class="link" asp-action="Create">Lägg till ny anställd</a>
</p>
